.home--btn {
    font-family: 'Patrick Hand SC', cursive;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--sign-btn-fontColor);
    position: relative;
    // margin: 0 7rem 0 0rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 5rem 0 5rem;
    border-radius: 10px;
    background-color: var(--sign-btn);
    // background-color: #aaaaaa;
    box-shadow: 22px 9px 24px 6px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 22px 9px 24px 6px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 22px 9px 24px 6px rgba(0, 0, 0, 0.49);
    &:hover {
        box-shadow: 22px 9px 24px 6px rgba(0, 0, 0, 0.49);
        -webkit-box-shadow: 10px 9px 24px 6px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: 22px 9px 24px 6px rgba(0, 0, 0, 0.49);
        opacity: 0.75;
    }
}